@model IEnumerable<WebApplication3_Haroon_Shaffiulla_Cumulative.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<nav class="navlink">
    <a href="/Teacher/New"><i class="fas fa-plus"></i> Add Teacher </a>
</nav>
<h2>List of all the Teachers.</h2>
@* A form input asking for the searchKey *@
<form action="/Teacher/List" method="get">
    <input type="text" name="SearchKey" />
    <input type="submit" value="Search" />
</form>
<span><em>@Model.Count() Results Found</em></span>


@foreach (var teacher in Model)
{
    <div>
        <h3><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></h3>
    </div>
}
