<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">
        Fully operational Create, Read, Update, and Delete (CRUD) web application!
    </p>
    <p> We're working here with the school database to list teachers, students and the classes</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teacher Details</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="/Teacher/List">Click for more &#8594;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Details</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="/Student/List">Click for more &#8594;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class Details</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="/Classes/List">Click for more &#8594;</a></p>
    </div>
</div>
